
@{
    ViewData["Title"] = "EventsEditor";
    //TODO: Build a carousel for events editing
    List<LibraryEvent> CurrentEvents = ViewBag.LibraryEvents;
}

<h1>Edit Events</h1>

<div id="event-carousel-container-editor">
    <div class="carousel-item-view">
        @if (CurrentEvents != null || CurrentEvents?.Count != 0)
        {
            int currentEventCount = 0;
            foreach (var libraryEvent in CurrentEvents)
            {
                <div data-event-link="@currentEventCount" class="@(currentEventCount == 0 ? "active" : "") item">
                    <img src="@libraryEvent.ImageURL" alt="">
                    <label class="event-title-label">Event Title</label>
                    <input class="event-title" type="text" value="@libraryEvent.EventName" />
                    <label class="event-description-label">Event Description</label>
                    <textarea class="event-description">@libraryEvent.EventDescription</textarea>
                    <label class="event-image-upload-label">Image Upload</label>
                    <input class="event-image-upload" value="@libraryEvent.ImageURL" />
                </div>
                currentEventCount = currentEventCount + 1;
            }
        } else
        {
            <div data-event-link="0" class="active item">
                <img src="" alt="">
                <label class="event-title-label">Event Title</label>
                <input class="event-title" type="text" />
                <label class="event-description-label">Event Description</label>
                <textarea class="event-description"></textarea>
                <label class="event-image-upload-label">Image Upload</label>
                <input class="event-image-upload" />
            </div>
            <div data-event-link="1" class="item">
                <img src="" alt="" style="">
                <label class="event-title-label">Event Title</label>
                <input class="event-title" type="text" />
                <label class="event-description-label">Event Description</label>
                <textarea class="event-description"></textarea>
                <label class="event-image-upload-label">Image Upload</label>
                <input class="event-image-upload" />
            </div>
            <div data-event-link="2" class="item">
                <img src="" alt="" style="">
                <label class="event-title-label">Event Title</label>
                <input class="event-title" type="text" />
                <label class="event-description-label">Event Description</label>
                <textarea class="event-description"></textarea>
                <label class="event-image-upload-label">Image Upload</label>
                <input class="event-image-upload" />
            </div>
            <div data-event-link="3" class="item">
                <img src="" alt="" style="">
                <label class="event-title-label">Event Title</label>
                <input class="event-title" type="text" />
                <label class="event-description-label">Event Description</label>
                <textarea class="event-description"></textarea>
                <label class="event-image-upload-label">Image Upload</label>
                <input class="event-image-upload" />
            </div>
            <div data-event-link="4" class="item">
                <img src="" alt="" style="">
                <label class="event-title-label">Event Title</label>
                <input class="event-title" type="text" />
                <label class="event-description-label">Event Description</label>
                <textarea class="event-description"></textarea>
                <label class="event-image-upload-label">Image Upload</label>
                <input class="event-image-upload" />
            </div>
        }
    <ul class="carousel-dots">
        <li data-event-link="0" class="active"><div></div></li>
        <li data-event-link="1"><div></div></li>
        <li data-event-link="2"><div></div></li>
        <li data-event-link="3"><div></div></li>
        <li data-event-link="4"><div></div></li>
    </ul>
    <div class="left-carousel-arrow">
        <div></div>
    </div>
    <div class="right-carousel-arrow">
        <div></div>
    </div>
</div>