@{
    ViewData["Title"] = "Room Bookings";
    //Need to import room list and settings with a pull of the data (possibly) refresh fixing and current date\
    var currentDate = DateTime.Now;
    var currentMonth = currentDate.Month;
    
}
<h1>Book a room</h1>
<select id="room-select">
    <option>Test</option>
    <option>Test 2</option>
</select>
<div id="room-calendar">
    <span class="left-month-arrow">
        <div></div>
    </span>
    <ul id="month-list">
        <li class="@Html.Raw(currentMonth == 1 ? "active" : "hidden")">January <span class="year-div">@Html.Raw(currentDate.Year)</span>
        </li>
        <li class="@Html.Raw(currentMonth == 2 ? "active" : "hidden")">February <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
        <li class="@Html.Raw(currentMonth == 3 ? "active" : "hidden")">March <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
        <li class="@Html.Raw(currentMonth == 4 ? "active" : "hidden")">April <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
        <li class="@Html.Raw(currentMonth == 5 ? "active" : "hidden")">May <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
        <li class="@Html.Raw(currentMonth == 6 ? "active" : "hidden")">June <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
        <li class="@Html.Raw(currentMonth == 7 ? "active" : "hidden")">July <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
        <li class="@Html.Raw(currentMonth == 8 ? "active" : "hidden")">August <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
        <li class="@Html.Raw(currentMonth == 9 ? "active" : "hidden")">September <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
        <li class="@Html.Raw(currentMonth == 10 ? "active" : "hidden")">October <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
        <li class="@Html.Raw(currentMonth == 11 ? "active" : "hidden")">November <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
        <li class="@Html.Raw(currentMonth == 12 ? "active" : "hidden")">December <span class="year-div">@Html.Raw(currentDate.Year)</span></li>
    </ul>
    <span class="right-month-arrow">
        <div></div>
    </span>
    <table id="date-list">
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr class="first-week">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="second-week">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="third-week">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="fourth-week">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="fifth-week">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>